data/
__pycache__/
.venv/
dist/
src/gtfs_proto.egg-info/
*.gtp*
*.zip
*.swp
*.ids
stops.txt
stop_times.txt
routes.txt
trips.txt
agency.txt
calendar.txt
calendar_dates.txt
frequencies.txt
transfers.txt
networks.txt
